.stats {
  display: flex;
  height: 100px;
}

.stats li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 100px;
  background-color: rgb(236, 233, 233);

  outline: 1px solid #c1c1c1;
}

.label {
  font-size: 18px;
}

.quantity {
  font-size: 18px;
  font-weight: 500;
}
